{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/style_connexion.css' %}">
{% endblock head %}

{% block content %}
  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh; flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <!-- Animation -->
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
        </div>
        <!-- End Animation -->
      </div>
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a href="#" rel="dofollow">SupClass</a></h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class=" padding-bottom--15 flex-flex flex-justifyContent--center">Se connecter à un compte</span>
              <form id="stripe-login" method="POST">
                {% csrf_token %}
                <div class="field padding-bottom--15">
                  <label for="username">Nom d'utilisateur :</label>
                  <input type="text" name="username" required>
                </div>
                <div class="field padding-bottom--15">
                  <div class="grid--50-50 ">
                    <label for="password">Mot de passe :</label>
                    <div class="reset-pass">
                      <a href="#">Mot de passe oublié?</a>
                    </div>
                  </div>
                  <input type="password" name="password" required>
                </div>
                <div class="field field-checkbox padding-bottom--15 flex-flex align-center">
                  <label for="checkbox">
                    <input type="checkbox" name="checkbox">Se souvenir de moi
                  </label>
                </div>
                <div class="field padding-bottom--24| flex-flex flex-justifyContent--center">
                  <button type="submit" class="btn btn-outline-primary my-2">Se connecter</button>
                </div>
                <div class="field">
                  <a class="ssolink" href="#">J'ai pas de compte, contacter l'administrateur</a>
                </div>
              </form>
              {% if error %}
                <p style="color:red;">{{ error }}</p>
              {% endif %}
            </div>
          </div>
          <div class="footer-link padding-top--24">
            <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
              <span><a href="#">© IDITECH Manager</a></span>
              <span><a href="#">SupClass SN</a></span>
              <span><a href="#">tout droit réservé & Udev</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}

{% endblock js %}