{% load static %}
        
<!-- Sidebar -->
<aside class="main-sidebar bg-red">
    <header class="aside-header">
        <div class="brand">
            <img src="{% static 'images/logosup.png' %}" alt="Logo" />
            <h3>SUPSCHOOL</h3>
        </div>
        <div class="close" id="closeSidebar">
            <span class="material-icons-sharp"> close </span>
        </div>
    </header>

    <div class="sidebar" id="sidebar">
        <ul class="list-items">
            <li class="item">
                <a href="{% url 'programme:tableau_bord' %}" id="dashboard">
                    <span class="material-symbols-outlined">dashboard</span>
                    <span>Tableau de bord</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url 'programme:emplois_du_temps' %}">
                    <span class="material-symbols-outlined">globe_book</span>
                    <span>Emplois du Temps</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url 'programme:utilisateur' %}">
                    <span class="material-symbols-outlined">group_add</span>
                    <span>Utilisateur</span>
                </a>
            </li>
            
            <li class="item">
                <a href="{% url 'programme:niveau' %}" class="">
                    <span class="material-symbols-outlined">list_alt</span>
                    <span>Niveau</span>
                </a>
            </li>

            

            <li class="item">
                <a href="{% url 'programme:batiment' %}" class="">
                    <span class="material-symbols-outlined">account_balance</span>
                    <span>Batiment</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url 'programme:matiere' %}" class="">
                    <span class="material-symbols-outlined">history_edu</span>
                    <span>Matiere</span>
                </a>
            </li>


            <li class="item">
                <a href="{% url 'programme:liste_absences' %}">
                    <span class="material-symbols-outlined">note_alt</span>
                    <span>Emargements</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url 'programme:addnote' %}">
                    <span class="material-symbols-outlined">add_notes</span>
                    <span>Add Notes</span>
                </a>
            </li>
            
            <li class="item">
                <a href="{% url 'programme:shownote' %}">
                    <span class="material-symbols-outlined">visibility</span>
                    <span>Show Notes</span>
                </a>
            </li>

            <li class="item">
                <a href="{% url 'programme:salles' %}">
                    <span class="material-symbols-outlined">meeting_room</span>
                    <span>Salles</span>
                </a>
            </li>

            <li class="item">
                {% if niveau and niveau.slug %}
                    <!-- Bouton pour ouvrir la modale -->
                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#niveauModal">
                        <span class="material-symbols-outlined">sms</span>
                        <span>Espace D'Echange</span>
                    </a>
                {% else %}
                    <a href="#" onclick="alert('Aucun niveau attribué à votre compte !')">
                        <span class="material-symbols-outlined">sms</span>

                        <span>Espace D'Echange</span>
                    </a>
                {% endif %}
            </li>
            
            
            
            
            
            <li class="item">
                <a href="{% url 'programme:logout' %}">
                    <span class="material-symbols-outlined">login</span>
                    <span>Se Deconnecter</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

