{% extends 'base.html' %}
{% load static %}


{% block head %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-responsive2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleOnOffInternet.css' %}"> {% endcomment %}
    <script>
        const imagePath = "{% static 'images/' %}"; // Définir le chemin de base pour les images
    </script>
{% endblock head %}

{% block content %}
    <div class="dashboard-container ">
            <!-- Sidebar -->
            <aside class="main-sidebar bg-red">
                <header class="aside-header">
                    <div class="brand">
                        <img src="{% static 'images/logosup.png' %}" alt="Logo" />
                        <h3>SUPSCHOOL</h3>
                    </div>
                    <div class="close" id="closeSidebar">
                        <span class="material-icons-sharp"> close </span>
                    </div>
                </header>

                <div class="sidebar" id="sidebar">
                    <ul class="list-items">
                        <li class="item">
                            <a href="#" id="dashboard">

                                <img id="1" src="" style="width: 25px; height: 25px;" alt="">
                                <span>Tableau de bord</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <img id="2" src="" style="width: 30px; height: 30px;" alt="">

                                <span>Elèves</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <img id="3" src="" style="width: 30px; height: 30px;" alt="">
                                
                                <span>Scolarité</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="">
                                <img id="4" src="" style="width: 30px; height: 30px;" alt="">

                                <span>Enseignants</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="active">
                                <img id="5" src="" style="width: 30px; height: 30px;" alt="">

                                <span>Cours</span>
                                
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <img id="6" src="" style="width: 30px; height: 30px;" alt="">

                                <span>Emargements</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <img id="7" src="" style="width: 30px; height: 30px;" alt="">

                                <span>Notes</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <img id="8" src="" style="width: 30px; height: 30px;" alt="">

                                <span>Salles</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <img id="10" src="" style="width: 30px; height: 30px;" alt="">

                                <span>Classe</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <img id="9" src="" style="width: 30px; height: 30px;" alt="">

                                <span>Emplois du Temps</span>
                            </a>
                        </li>
                        

                        <li class="item">
                            <a href="#">
                                <img id="11" src="" style="width: 30px; height: 30px;" alt="">
                                <span>Se Deconnecter</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>

            <!-- Main -->
            <main class="main-container">
                <!-- header barre d'information et d'authentification  -->
                <div class="header-right row col-12 bg-red p-5 d-flex justify-content-between align-items-center">
                    <div class="info d-flex justify-content-between align-items-center col-auto">

                        <img src="" class="icone toggle-menu-btn" id="openSidebar" alt="" style="width: 25px; height: 25px;">

                        <h1 class="main-title fw-bold text-grey fs-20 me-4 d-inline-block col-4 sup">SUPSCHOOL</h1>

                        <div class="date d-flex">
                            <span id="dateHeureAffichage" class=" mt-3 fw-bold h1"></span>
                            <!-- <span class="material-symbols-outlined">calendar_month</span> -->
                            <img src="" class="icone" alt="" style="width: 25px; height: 25px;">
                        </div>
                        
                        <!-- <span class="material-symbols-outlined mx-5">settings</span> -->
                        <img src="" class="icone" alt="" style="width: 25px; height: 25px;">

                        <header class=" d-flex justify-content-between align-items-center">
                            

                            <div class="toggle-theme mx-5">
                                <!-- <span class="material-icons-sharp active">tungsten</span> -->
                                <!-- <span class="material-icons-sharp"> dark_mode </span> -->
                                <img src="" class="icone material-icons-sharp active" alt="" style="width: 25px; height: 25px;">
                                <img src="" class="icone material-icons-sharp" alt="" style="width: 25px; height: 25px;">

                            </div>
                            
                            <div class="profile">
                                <div class="profile-info">
                                    <p>User: <strong>Admin</strong></p>
                                </div>
                                <div class="profile-image">
                                    <!-- <span class="material-symbols-outlined">account_circle</span> -->
                                    <img id="dashboard-icon" class="rounded-circle" src="{% static 'images/admin.jpg' %}" style="width: 30px; height: 30px;" alt="">

                                </div>
                            </div>
                        </header>
                    </div>
                </div>
                
                
                
            </main>
            
    </div>
{% endblock content %}

{% block js %}
    {% comment %} <script src="{% static 'js/script2.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="{% static 'script2.js' %}"></script>
    <script src="{% static 'script3.js' %}"></script>
    <script src="{% static 'onOffInternet.js' %}"></script> {% endcomment %}
{% endblock js %}
