{% extends 'base.html' %}
{% load static %}


{% block head %}

{% endblock head %}

{% block content %}
<div class="dashboard-container ">
    <!-- Inclure la barre d'onglet -->
    {% include 'barre_onglet.html' %}

    <!-- Main -->
    <main class="main-container">
        <div class="header-right row col-12 bg-red p-5 d-flex justify-content-between align-items-center">
            <div class="info d-flex justify-content-between align-items-center col-auto">
                <span class="material-symbols-outlined icone toggle-menu-btn" id="openSidebar">lists</span>
                <h1 class="main-title fw-bold text-grey fs-20 me-4 d-inline-block col-4 sup">SUPSCHOOL</h1>
                <div class="date d-flex">
                    <span id="dateHeureAffichage" class="mt-3 fw-bold h1"></span>
                    <span class="material-symbols-outlined">calendar_month</span>
                </div>
                <span class="material-symbols-outlined">instant_mix</span>
                <div class="toggle-theme mx-5">
                    <span class="material-symbols-outlined icone material-icons-sharp active">light_mode</span>
                    <span class="material-symbols-outlined icone material-icons-sharp">bedtime</span>
                </div>
                <div class="profile">
                    <div class="profile-info">
                        <p>User: <strong>Admin</strong></p>
                    </div>
                    <div class=" profile-image">
                        <img id="dashboard-icon" class="rounded-circle" src="{% static 'images/admin.jpg' %}" style="width: 30px; height: 30px;" alt="">
                    </div>
                </div>
            </div>
        </div>
                
        <div class="container data-add mt-5 barre_filter">
            <div class="rounded-3">
                <div class="card-header text-white text-center py-3 bg-yellow rounded-4">
                    <h3 class="h1 fw-bold">Ajouter une Matière</h3>
                </div>
        
                <form method="POST" enctype="multipart/form-data" class="form-data-add row g-3 d-flex justify-content-center col-12 py-5 fw-bold">
                    {% csrf_token %}
                    <div class="form-group col-8">
                        <label for="id_nom" class="form-label">Nom :</label>
                        {{ form.nom }}
                    </div>
                    <div class="form-group col-8">
                        <label for="id_description" class="form-label">Description :</label>
                        {{ form.description }}
                    </div>
                    <div class="form-group col-8">
                        <label for="id_niveau" class="form-label">Niveau :</label>
                        {{ form.niveau }}
                    </div>
                    <div class="form-group col-8">
                        <label for="id_professeur" class="form-label">Professeur :</label>
                        {{ form.professeur }}
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-4">
                        <button type="reset" class="btn btn-outline-info fs-3">RÉINITIALISER</button>
                        <button type="submit" class="btn btn-outline-success fs-3 mx-5">SOUMETTRE</button>
                    </div>
                </form>
            </div>
        </div>
        
         

                
    </main>
            
    </div>
{% endblock content %}

{% block js %}
    {% comment %} <script src="{% static 'js/script2.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="{% static 'script2.js' %}"></script>
    <script src="{% static 'script3.js' %}"></script>
    <script src="{% static 'onOffInternet.js' %}"></script> {% endcomment %}
{% endblock js %}
